@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
    overflow-y: hidden;
}
.container{
    height: 470px;
    width: 450px;
    border: 2px solid;
    border-left-color: #4de883;
    border-right-color: #4de883;
    border-top-color: #e84d9d;
    border-bottom-color: #e84d9d;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; 
    position: relative;
}

.container .image-section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( #4de883, #e84d9d,  #4de883, #e84d9d);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .6s ease;
    z-index: 999;
}
.container .image-section img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background: #021a2f;
}
.container:hover .image-section{
    border-radius: 50%;
    top: 2%;
    width: 280px;
    height: 280px;
}
.text-content{
    display: flex;
    text-align: center;
    font-weight: 500;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 35%;
    opacity: 0;
    transition: .5s ease;
}
.container:hover .text-content{
    opacity: 1;
    transition-delay:.5s;
}
.text-content span:nth-child(1){
    font-size: 32px;
    letter-spacing: 1px;
    animation: TopSlide 1s ease forwards;
}
.container:hover span:nth-child(1){
    animation: TopSlide 1s ease forwards;
    animation-delay: .2s;
    opacity: 0;
}
article a {
    text-decoration: none;
}
@keyframes TopSlide{
    0%{
        transform: translateY(200px);
        opacity: 0;
        filter: blur(5px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);
    }
}
.text-content span:nth-child(2){
    font-size: 18px;
    letter-spacing: 1px;
    animation: TopSlide 1s ease forwards;
    animation-delay: .2s;
    opacity: 0;
}
.container:hover span:nth-child(2){
    animation: TopSlide 1s ease forwards;
    animation-delay: .2s;
    opacity: 0;
}
.text-content p {
    font-size: 13px;
    max-width: 300px;
    margin: 10px 0;
    animation: TopSlide 1s ease forwards;
    animation-delay: .4s;
    opacity: 0;
}
.additional-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: #4de883 1px solid;
    border-radius: 10px;
    margin: 0 0 5px;
    padding: 10px;
    animation: TopSlide 1s ease forwards;
}
.additional-info li{
    list-style: none;
    font-size: 13px;
    animation: TopSlide 1s ease forwards;
    animation-delay: .4s;
    opacity: 0;
}
.container:hover p{
    animation: TopSlide 1s ease forwards;
    animation-delay: .4s;
    opacity: 0;
}
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}
.socials a{
    margin: 0 10px;
    font-size: 15px;
    color: #4de883;
    transition: .4s ease;
    cursor: pointer;
}
.socials a:hover{
    border: 1px solid #4de883;
    padding: 10px;
    border-radius: 60px;
}
.btn{
    width: 50%;
    font-size: 14px;
    margin-top: 10px;
    margin: 10px 20px;
    padding: 10px 30px;
    background: #222;
    border: 2px solid #4de883;
    border-radius: 5px;
    cursor: pointer;
    animation: TopSlide 1s ease forwards;
    animation-delay: .6s;
    opacity: 0;
}
.container:hover .btn{
    animation: TopSlide 1s ease forwards;
    animation-delay: .6s;
    opacity: 0;
}
.bio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    position: absolute;
    top: 25%;
    left: 0;
    opacity: 0;
    transition: .5s ease;
}
.container:hover .bio{
    opacity: 1;
    transition-delay: 1s;
}
.info {
      font-size: 12px;
}
.info span{
    margin: 10px 0;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    animation: TopSlide 1s ease forwards;
    animation-delay: .8s;
    opacity: 0;
}
.container:hover .info span{
    animation: TopSlide 1s ease forwards;
    animation-delay: .8s;
    opacity: 0;
}
.btn:hover{
    background: #4de883;
    color: #021a2f;
}